/* CSS Document */
body{
	background-color:#eeeeee;
	margin-top:3px;
 	padding: 0px; 
 	font-size:12px;
}
a{ color:#0000FF;  text-decoration: blink;}
a:a:visited{ color:gray;}
a:hover,active { color:#d20000; text-decoration: blink;}
input{
	border: 1px solid #7b95c1;
}


fieldset{
		border:#3642e8 dashed 1px;
		font-size:16px;
		padding:5px;
		color:#0000CC;
		text-align:left;
	}

fieldset legend{
		color:black;
		font-size:14px;
		font-weight:800;
}
/** 分样样式 **/
.page{
	text-align: right;
	font-size: 12px;
	font-family: 宋体;
	background-color: #dee7ff;
	text-align:right;
	width:100%;
	border: 1px dashed #999999;
}
.page a:a:visited{
		color:#0000FF;  text-decoration: blink;
}
/** 分样样式 **/

.bar{
			background-color:#6699FF;
			width:100%;
			color:#FFFFFF;
			font-size:18px;
			padding:5px;
			font-weight:900;
			text-align:left;
}